* {
	webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	text-align: center;
	background-color: #0F1119;
}